body {
  background: lightskyblue
}
h1 {
  text-align: center
}
.Unboox {
  position: absolute;
  background: lightblue;
  width: 150px;
  height: 150px;
  color: #2F4F4F;
  right: 50%;
}
.Unbox2 {
  position: absolute;
  background:#E6E6FA;
  width: 150px;
  height: 150px;
  color: #9370DB;
  right: 70%;
  top: 70%;
}
